.outer-form {
  padding: 3rem;
}

.base-flex {
  display: flex;
}

.steps li {
  list-style-type: none;
  float: left;
  width: 33%;
  position: relative;
  text-align: center;
}

.steps li:before {
  content: ' ';
  line-height: 30px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  border: 1px solid #ddd;
  border-left: none;
  display: block;
  text-align: center;
  margin: 2px auto 0px;
  background-color: #eee;
  padding: 0.5rem;
}

.steps li:after {
  content: '';
  position: absolute;
  width: 97%;
  height: 5px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-right: none;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.steps li:first-child:after {
  content: none;
}

.steps li.current {
  color: black;
}

.steps li.current:before {
  border-color: black;
  background-color: black;
}

.steps .current:after {
  background-color: black;
}

.steps .passou:after {
  background-color: black;
}

.passou:before {
  background-color: black !important;
  border-color: black !important;
}

.numero {
  position: relative;
  bottom: 2.8rem;
  color: white;
}

.numero-inativo {
  position: relative;
  bottom: 2.8rem;
  color: black;
}

.step-content {
  display: none;
}

.step-content.current {
  display: block;
  margin: 2rem 8rem;
}

.survey-form .step-content.current {
  display: block;
}

.input-invalido {
  color: darkred;
  display: none;
}

.input-invalido::before {
  font-family: Dashicons;
  font-size: calc(100% + 10px);
  content: '\f534';
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.is-layout-flex {
  display: flex;
  align-items: center;
}

.lista-receitas {
  border: 1px black solid;
}

input {
  max-width: 70%;
  height: 2rem;
}
